
<% if progress.user == current_user %>
<%= link_to edit_progress_path(progress, :challenge_id => @challenge.id), class: 'btn btn-xs' do %>
<i class="glyphicon glyphicon-edit"></i>
<% end %>
<%= link_to progress, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' do %>
<i class="glyphicon glyphicon-remove"></i>
<% end
end%>
<div class="well well-sm">
    <div>
        <% if @challenge.sport == 0 %>
          <strong><%= progress.user.email if progress.user %></strong>
          swam <%= progress.gain %> meters!
        <% else @challenge.sport == 1 %>
          <strong><%= progress.user.email if progress.user %></strong>
          ran <%= progress.gain %> meters!
          <% end %>
    </div>
</div>