<p id="notice"><%= notice %></p>

<p>
  <strong>Gain:</strong>
  <%= @progress.gain %>
</p>

<p>
  <strong>Challenge:</strong>
  <%= @progress.challenge.name if @progress.challenge %>
</p>

<%= link_to 'Edit', edit_progress_path(@progress) %> |
<%= link_to 'Back', progresses_path %>
