
<div class="row">
    <ul class="thumbnails list-unstyled">
      <li class="col-md-8">
        <div class="thumbnail">
          <div class="caption" style="padding-left:15px">
            <h3><%= @challenge.name %></h3>
            <p><%= @challenge.description %></p>
            <p>Owner: <%= @challenge.user.email if @challenge.user%></p>
          </div>
          <div class="modal-footer" style="text-align: left">
            <% if @challenge.category == 0 %>
                <%= render :template => "challenges/categories/collaboration" %>
                 <% elsif @challenge.category==1 %>
                 <%= render :template => "challenges/categories/competition" %>
               <% end %>

            </div>
            <div class="row" style="text-align: center">
              <div class="col-md-3"><b> <%= Challenge.sports.key(@challenge.sport) %> </b><br/><small>SPORT</small></div>
              <div class="col-md-3"><b><%= Challenge.categories.key(@challenge.category) %></b><br/><small>CATEGORY</small></div>
              <div class="col-md-3"><b><%= @challenge.distance %></b><br/><small>DISTANCE</small></div>
              <div class="col-md-3"><b><%= (@challenge.stop - Date.today).to_i %></b><br/><small>DAYS LEFT</small></div>
            </div>
          </div>
      </li>
      <!--<%= link_to 'Edit', edit_challenge_path(@challenge), class: 'btn btn-primary btn-xs' %>
      <%= link_to 'Back', challenges_path, class: 'btn btn-info btn-xs' %> -->
    </ul>


    <div class="col-md-4">
      <h3>Participations:</h3>
      <% if @challenge.participations.empty? %>
          <div class="well well-sm">
            <div>
              Be the first one to join the challenge!
            </div>
          </div>
          <% else %>
              <%= render @challenge.root_participations %>
          <% end %>
          <%  parti = @challenge.participations.find_by(:user_id => current_user.id)
              if parti %>
              <%= link_to 'Leave the challenge!', participation_path(parti), :method => :delete, class: 'btn btn-danger btn-xs'%>
          <%else%>
              <%= link_to 'Join the challenge!', participations_path(:challenge_id => @challenge.id), :method => :post, class: 'btn btn-primary btn-xs'%>

          <% end %>
    </div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3>Comments</h3>

        <% commentres = @challenge.comments.paginate(:page => params[:page], :per_page => 50).all
           commentres.each do |comment|%>
          <% if comment.user == current_user %>
              <%= link_to edit_comment_path(comment, :challenge_id => @challenge.id), class: 'btn btn-xs' do %>
                  <i class="glyphicon glyphicon-edit"></i>
              <% end %>
              <%= link_to comment, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' do %>
                  <i class="glyphicon glyphicon-remove"></i>
              <% end
                 end
             %>

          <div class="well well-sm">
            <div>
              <strong><%= comment.user.email if comment.user %> wrote: </strong><br>
              <%= comment.message %>
            </div>
          </div>
          <%end%>
      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-3">
          <div class="digg_pagination">
            <div class="page_info">
              <%= page_entries_info commentres %>
            </div>
            <%= will_paginate commentres, :container => false %>
          </div>
        </div>
      </div>
		<%= link_to 'Add Comment', new_comment_path(:challenge_id => @challenge.id), class: 'btn btn-primary btn-xs' %>
	</div>

	<div class="col-md-4">
		<h3>Progresses</h3>
      <% progressres = @challenge.progresses.paginate(:page => params[:page], :per_page => 50).all
         progressres.each do |progress|%>
          <% if progress.user == current_user %>
              <%= link_to edit_progress_path(progress, :challenge_id => @challenge.id), class: 'btn btn-xs' do %>
                  <i class="glyphicon glyphicon-edit"></i>
              <% end %>
              <%= link_to progress, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-xs' do %>
                  <i class="glyphicon glyphicon-remove"></i>
              <% end
                 end%>
          <div class="well well-sm">
            <div>
              <% if @challenge.sport == 0 %>
                  <strong><%= progress.user.name if progress.user %></strong>
                  swam <%= progress.gain %> meters!
              <% else @challenge.sport == 1 %>
                  <strong><%= progress.user.name if progress.user %></strong>
                  ran <%= progress.gain %> meters!
              <% end
              end%>

            </div>
          </div>





      <% if @challenge.participations.find_by(:user_id => current_user.id) %>
		<%= link_to 'Add Progress', new_progress_path(:challenge_id => @challenge.id), class: 'btn btn-primary btn-xs' %>
          <% end %>

      <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4">
          <div class="digg_pagination">
            <div class="page_info">
              <%= page_entries_info progressres %>
            </div>
            <%= will_paginate progressres, :container => false %>
          </div>
        </div>
      </div>

	</div>


</div>