<p id="notice"><%= notice %></p>

<div class="row">
	<div class="col-md-4">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h2 class="panel-title"><%= @challenge.name %> </h2>
		  </div>
		  <div class="panel-body">
		    <%= @challenge.description %>
		  </div>
		</div>
	</div>
</div>



<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
<%= link_to 'Back', challenges_path %>

<%= render @challenge.root_comments %>

