

<div class="row">
	<div class="col-md-8">
		<div class="panel panel-primary">
		  <div class="panel-heading">
		    <h2 class="panel-title"><%= @challenge.name %> </h2>
		  </div>
		  <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
                Description:<br>
                <%= @challenge.description %>

            </div>
            <div class="col-md-2">
                Sport: <%= Challenge.sports.key(@challenge.sport) %> 
                Distance: <%= @challenge.distance %>
                Category: <%= Challenge.categories.key(@challenge.category) %>
            </div>
          </div>
        </div>

          <div class="panel-footer">
            <div class="progress">
            	<% totalTime = (@challenge.stop - @challenge.start).to_i
            		timeelapsed = (Date.today - @challenge.start).to_i
            		
            		if timeelapsed <= 0
            			timeProgress = 0
            		else 
            			timeProgress = (((1.0*timeelapsed)/totalTime)*100).to_i
            		end
            	%>

	  			<div class="progress-bar" role="progressbar" aria-valuenow="<%= timeProgress %>" aria-valuemin="0" aria-valuemax="100" style="width:<%= timeProgress %>%">
	    			<%= timeProgress %>%
	  			</div>
			</div>
         </div>
		</div>
		<%= link_to 'Edit', edit_challenge_path(@challenge) %> |
		<%= link_to 'Back', challenges_path %>
      </div>
    <div class="col-md-4">
      <strong>Participations:</strong>
      <%= render @challenge.root_participations %>
      <%  parti = @challenge.participations.find_by(:user_id => current_user.id)
          if parti %>
          <%= link_to 'Leave the challenge!', participation_path(parti), :method => :delete, class: 'btn btn-danger btn-xs'%>
      <%else%>
          <%= link_to 'Join the challenge!', participations_path(:challenge_id => @challenge.id), :method => :post, class: 'btn btn-primary btn-xs'%>

      <% end %>

	</div>
</div>

<div class="row">
	<div class="col-md-4">
		<h3>Comments</h3>
		<%= render @challenge.root_comments %>
		<%= link_to 'Add Comment', new_comment_path(:challenge_id => @challenge.id), class: 'btn btn-primary btn-xs' %>
	</div>

	<div class="col-md-4">
		<h3>Progresses</h3>
		<%= render @challenge.root_progresses %>
		<%= link_to 'Add Progress', new_progress_path(:challenge_id => @challenge.id), class: 'btn btn-primary btn-xs' %>	
	</div>
</div>










